* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 200px;
}

body {
    background: #2E2B33;
    color: #B8DAD0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
}

h1 {
    font-size: 69px;
    line-height: 87.53px;
    letter-spacing: 3.22px;
    width: 750px;
    margin-top: 200px;
    margin-left: 200px;
}

h2, h3 {
    font-size: 20px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 30px;
}


.deco-header {
    position: absolute;
    top: 0;
    right: 0;
}

.we-make-section {
    padding-top: 100px;
}

.we-make-deco-conteiner {
    position: relative;
}

.we-make-deco {
    position: absolute;
    top: 0;
    left: 0;
}

.we-make-section img {
    position: absolute;
    z-index: 1;
    top: 250px;
    width: 420px;
}

.we-make-text-conteiner {
    width: 483px;
    margin-left: 760px;
    margin-top: 78px;
}

.we-make-text-1 {
    margin-top: 50px;
    margin: 30px 0;
    font-size: 25px;
}

.we-make-text-2 {
    font-size: 23px;
}

.we-make-text-3 {
    margin-top: 310px;
    font-size: 24px;
}

.brands-we-helped-section {
    margin-top: 300px;
}

.brands-we-helped-content-conteiner {
    margin: auto;
    width: 640px;
    font-size: 24px;
}

.brands-list {
    font-size: 56px;
    margin: 50px 0;
}

.work-with-us-btn {
    margin-top: 50px;
    padding: 8px 16px;
    border: none;
    border-radius: 0;
    width: 150px;
    height: 42px;
}

.client-feedback-conteiner {
    margin-top: 200px;
    margin-left: 550px;
}

.feedback-text {
    width: 590px;
    font-size: 35px;
    margin-top: 20px;
}

.client-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.client-info img {
    width: 64px;
    height: 64px;
}

.brands-cards-conteiner {
    margin-top: 300px;
}

.brands-cards-list {
    position: relative;
}

.brands-cards-deco {
    position: absolute;
    top: 0;
    right: 0;
}