.topbar {
    display: flex;
    justify-content: space-between;
}

.navbar {
    list-style-type: none;
}

.navbar li {
    float: left;
    border-right: 2px solid;
}

.navbar li:last-child {
    border: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 6px 8px;
}

.logo {
    width: 30px;
}

.name {
    display: inline-block;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 7px;
}

.headtext {
    text-align: center;
}

.projects {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.projects li a {
	display: block;
	padding: 10px;
}

.projects li {
	border-bottom: 2px solid;
}

.projects li:last-child {
	border-bottom: none;
}

main {
	display: grid;
	grid-template-columns: auto auto auto;
}

main > section {
	border: 2px solid;
	border-left: none;
	padding: 15px
}

.education {
	border-right: none;
}

aside {
	grid-column: 1 / span 3;
}

.reviews {
	display: flex;
	justify-content: space-around;
}

.reviews > div {
	border: 2px solid;
	border-radius: 8px;
}