* {
	margin: 0;
	box-sizing: border-box;
}

.topbar {
	margin: 1vw;
    display: flex;
    justify-content: space-between;
}

.navbar {
	padding: 0;
    list-style-type: none;
}

.navbar li {
    float: left;
	border-style: solid;
    border-width: 0px 2px 0px 0px;
}

.navbar li:last-child {
    border: none;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 6px 8px;
}

.logo {
    width: 30px;
}

.name {
    display: inline-block;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 7px;
}

.headtext {
	margin: 3vw;
    text-align: center;
}

.projects {
	list-style-type: none;
	margin: 1vw 0 1vw 0;
	padding: 0;
}

.projects li a {
	display: block;
	padding: 0.8vw;
}

.projects li {
	border-bottom: 2px solid;
}

.projects li:last-child {
	border-bottom: none;
}

main {
	display: grid;
	grid-template-columns: auto auto auto;
}

main > section {
	border: 2px solid;
	border-left: none;
	padding: 15px
}

.education {
	border-right: none;
}

.education-record > * {
	margin: 0.5vw;
}

.courses li {
	margin: 0.3vw 0;
}

aside {
	grid-column: 1 / span 3;
	padding: 1vw;
}

.reviews-section {
	display: flex;
	justify-content: space-around;
	padding: 2vw;
}

.reviews-section > div {
	border: 2px solid;
	border-radius: 8px;
	margin: 1rem;
	padding: 1rem;
}

footer {
	text-align: center;
}

.experience-section > * {
	margin: 1vw;
}

.experience-record > * {
	margin: 0.7vw 0;
}

@media only screen and (max-width: 600px) {
	.topbar {flex-direction: column;}
	.logo-name {flex-direction: column;}

	.navbar li {float: none; border-width: 2px 2px 0 2px; text-align: center;}
	.navbar li:last-child {border: 2px solid;}

	main {display: flex; flex-direction: column;}
	.reviews-section {flex-direction: column;}
}